#title{
    text-align: center;
    margin: 45px 0px 0px -18px;
}
.container{
    margin: 48px 0px 0px 10px;
}
#table_title{
    text-align: center;
   
}
#navbar{
    background-color: black;
}
body{
    background-color: lightgreen;
}
